/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.color-scale {
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 6px;
}
.item-container {
  display: flex;
}
.color-range {
  margin: 5px;
  margin-right: 0px;
  padding-top:1px;
  font-size:10px;
}
.box-color{
  font-size: 9px;
  padding: 0px;
  opacity: 0.8;
  border-radius: 1px;
  margin: 1px;
  height: 24px!important;
  width: 24px!important;
}


@media screen and (max-height: 400px) {
  .box-color{
    font-size: 7px;
    height: 17px!important;
    width: 17px!important;
    margin: 0px;
  }
  .color-range {
    margin: 3px;
    font-size: 8px;
  }

}
 

 

 

 


